section#licensepage-title.flex-vertcenter
  .boxborder-header
    h2
      | About 
      em
        | SominStudios
  p
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro incidunt inventore 
    em
      |  dicta minima iste animi nobis
    |  labore quod magni a facere perspiciatis 
    em
      | obcaecati laboriosam ullam
    | , cum necessitatibus, sunt provident delectus. 
    br
    br
    |  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    em
      | Repudiandae facilis! Natus, dolor!
section#aboutpage-wrapper
  article#aboutpage-image1.aboutpage-card.aboutpage-bordertop
    img[src="img/gameover.jpg" alt="Our mission"]
  article#aboutpage-text1.aboutpage-card
    h3
      | Our 
      em
        | Mission
    p
      | Lorem ipsum dolor 
      em
        | amet consectetur adipisicing elit.
      |  Neque quis amet dolores cum totam provident illum harum voluptates. Aperiam voluptas voluptatum incidunt voluptatibus molestias ea ipsam temporibus 
      em
        | numquam laborum
      | , neque tempora placeat, minima tenetur 
      em
        | debitis dolor
      |  dolores earum eveniet eius id natus quae ipsa rem animi ducimus! Non, autem debitis?
  article#aboutpage-image2.aboutpage-card.aboutpage-bordertop
    img[src="img/prog.jpg" alt="Our story"]
  article#aboutpage-text2.aboutpage-card
    h3
      | Our 
      em
        | Story
    p
      | Lorem ipsum dolor 
      em
        | amet consectetur adipisicing elit.
      |  Neque quis amet dolores cum totam provident illum harum voluptates. Aperiam incidunt voluptatibus molestias ea ipsam temporibus 
      em
        | numquam laborum
      | , neque tempora placeat, minima tenetur 
      em
        | debitis dolor
      |  dolores earum quae ipsa rem animi ducimus! Non, autem debitis?
  article#aboutpage-image3.aboutpage-card.aboutpage-bordertop
    img[src="img/arcade.jpg" alt="Our service"]
  article#aboutpage-text3.aboutpage-card
    h3
      | Our 
      em
        | Service
    p
      | Lorem ipsum dolor 
      em
        | amet consectetur adipisicing elit.
      |  Neque quis amet dolores cum totam provident illum harum voluptates. Aperiam voluptas voluptatum incidunt voluptatibus sam temporibus 
      em
        | numquam laborum
      | , neque tempora placeat, minima tenetur 
      em
        | debitis dolor
      |  dolores earum eveniet eius id natus quae ipsa rem animi ducimus! Non, autem debitis?
  article#aboutpage-image4.aboutpage-card.aboutpage-bordertop
    img[src="img/laptop.jpg" alt="Our partners"]
  article#aboutpage-text4.aboutpage-card
    h3
      | Our 
      em
        | Social Proof
    p
      | Lorem ipsum dolor 
      em
        | etur adipisicing elit.
      |  Neque quis amet dolores cum totam provident illum harum voluptates. Aperiam incidunt voluptatibus molestias ea ipsam temporibus 
      em
        | numquam laborum
      | , neque tempora placeat, minima tenetur 
      em
        | debitis dolor
      |  dolores earum eveniet eius id natus animi ducimus! Non, autem debitis?