section#gamespage-title.flex-vertcenter
    h2
        | Games
    p
        | Enjoy a 
        em
            | complete collection
        |  of all the games that we've created during the past 
        em
            | three years
        | . Both old and new, all the games have been developed using the game engine 
        em
            | Unity
        | .

- admin = true

section.gamespage-gameswrapper
    - games.reverse.each do |game|
        - if (game['visible'] == 1 || admin)
            article.gameitem class=('hidden' if game['visible'] == 0)
                img[src="#{game['thumbnailImage']}" alt="game thumbnail"]
                h3 = game['title']
                p = game['tagline']
                .flex-center.button.button-thin[onclick="location.href='//sominstudios.itch.io/sticky-slimes';"]
                    p PLAY
                .flex-center.button.button-thin.button-orange[onclick=(admin ? "location.href='/games/editgame/#{game['id']}';" : "location.href='/licensing';")]
                    - if admin 
                        p EDIT
                    - else 
                        p LICENSE

    - if admin
        article.gameitem.addgameitem[onclick="location.href='/games/addgame'"]
            //Add New Icon by Unicons Font on IconScout
            img.svg-darkgray[src="img/svg/add-new.svg" alt="Add new game icon"]