section#titlepage.flex-center
    .titlebox
        h2.titletext
            | Creative and Unique HTML5 Games For Your Website
    #graybox
    video#myVideo[autoplay muted loop]
        source[src="img/trailer.mp4" type="video/mp4"]

hr
section.games-wrapper
    .games-text
        h2
            | Puzzle Games
        p
            | Lorem ipsum dolor sit amet consectetur adipisicing.
    article.games-left.gamecard
        img[src="img/thumbnails/thumb-StickySlimes.jpg" alt="game thumbnail"]
        h3
            | Sticky Slimes
        p
            | Stick Together To Reach New Places and Possibilities!
        .flex-center.button[onclick="location.href='//sominstudios.itch.io/sticky-slimes';"]
            p
                | PLAY
    article.games-right.gamecard
        img[src="img/thumbnails/thumb-MagicCassette.jpg" alt="game thumbnail"]
        h3
            | Magic Cassette
        p
            | Bend Time In Your Favour To Reach The Exit!
        .flex-center.button[onclick="location.href='//sominstudios.itch.io/magic-cassette';"]
            p
                | PLAY
hr
section.games-wrapper
    .games-text
        h2
            | Platformer Games
        p
            | Lorem ipsum dolor sit amet consectetur adipisicing.
    article.games-left.gamecard
        img[src="img/thumbnails/thumb-ShapeMaze.jpg" alt="game thumbnail"]
        h3
            | ShapeMaze
        p
            | Try To Manouver Through The Ever Changing Maze!
        .flex-center.button[onclick="location.href='//sominstudios.itch.io/shapemaze';"]
            p
                | PLAY
    article.games-right.gamecard
        img[src="img/thumbnails/thumb-GlowPaint.jpg" alt="game thumbnail"]
        h3
            | Glow Paint
        p
            | Spread Your Paint To Reveal The Hidden Level!
        .flex-center.button[onclick="location.href='//sominstudios.itch.io/glow-paint';"]
            p
                | PLAY
hr
section.games-wrapper
    .games-text
        h2
            | Other Games
        p
            | Lorem ipsum dolor sit amet consectetur adipisicing.
    article.games-left.gamecard
        img[src="img/thumbnails/thumb-SpaceMiner.jpg" alt="game thumbnail"]
        h3
            | SpaceMiner
        p
            | Find Ores, Upgrade Your Ship, Become Rich.
        .flex-center.button[onclick="location.href='//sominstudios.itch.io/spaceminer';"]
            p
                | PLAY
    article.games-right.gamecard
        img[src="img/thumbnails/thumb-SwingShot.jpg" alt="game thumbnail"]
        h3
            | SwingShot
        p
            | A Top Down Shooter, With A Twist! (Literally)
        .flex-center.button[onclick="location.href='//sominstudios.itch.io/swingshot';"]
            p
                | PLAY
.flex-center.button.games-allbutton[onclick="location.href='/games';"]
    p
        | VIEW ALL GAMES

hr.spacer

section.licensing-wrapper
    article.flex-center
        img[src="img/Screenshot.jpg" alt="stylized screenshot"]
    section
        h2
            | Licensing
        p
            | Want a game for your website? We got you covered. Click below to see a complete list of all games that can be licensed.
        .flex-center.button.button-orange[onclick="location.href='/licensing';"]
            p
                | VIEW LICENSES

hr.spacer

section.partners-wrapper
    h2
        | Partners
    img#partners-logo1.partners-logo[src="img/external-logos/itch.png" alt="itch.io logo"]
    img#partners-logo2.partners-logo[src="img/external-logos/CMG.svg" alt="Coolmathgames logo"]
    img#partners-logo3.partners-logo[src="img/external-logos/NG.jpg" alt="Newgrounds logo"]
    img#partners-logo4.partners-logo[src="img/external-logos/EG.png" alt="Engineering.com logo"]
    img#partners-logo5.partners-logo[src="img/external-logos/CG.png" alt="Crazygames logo"]