section#licensepage-title.flex-vertcenter
  .boxborder-header
    h2
      | License Customizable 
      em
        | HTML5
      |  Games
  p
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro incidunt inventore 
    em
      |  dicta minima iste animi nobis
    |  labore quod magni a facere perspiciatis 
    em
      | obcaecati laboriosam ullam
    | , cum necessitatibus, sunt provident delectus. 
    br
    br
    |  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    em
      | Repudiandae facilis! Natus, dolor!
  section
    img[src="img/screenshots/GlowScreenshot.jpg" alt="screenshot from GlowPaint"]
    img[src="img/screenshots/MagicScreenshot.jpg" alt="screenshot from MagicCassette"]
    img[src="img/screenshots/StickyScreenshot.jpg" alt="screenshot from StickySlimes"]
.boxborder-header
  h2
    | Customization Services
section#licensepage-customswrapper
  article.licensepage-customscard.flex-vertcenter
    img.svg-white[src="img/svg/code.svg" alt="API icon"]
    h3
      | API Implementation
    p
      | Lorem ipsum dolor sit amet, 
      em
        | consectetur adipisicing elit
      | . Reiciendis voluptate 
      em
        | totam autem
      |  harum corporis quasi placeat?
  article.licensepage-customscard.flex-vertcenter
    img.svg-white[src="img/svg/bookmark.svg" alt="Branding icon"]
    h3
      | Branding
    p
      em
        | Lorem ipsum dolor
      |  sit amet consectetur, elit. Similique hic 
      em
        | blanditiis magni
      |  natus, eveniet, incidunt animi at sit mollitia culpa libero?
  article.licensepage-customscard.flex-vertcenter
    img.svg-white[src="img/svg/design.svg" alt="design icon"]
    h3
      | Redesign
    p
      | Lorem ipsum dolor 
      em
        | sit elit
      | . Placeat, sapiente sit dolorem accusamus recusandae eos est neque. 
      em
        | Explicabo amet 
      | reiciendis 
      em
        | dolor quia.
.boxborder-header
  h2
    | Pricing and Discounts
section#licensepage-pricingwrapper
  article.licensepage-pricingcard.flex-vertcenter.itemHover
    h3
      em
        | One-Time Fee
    hr
    p
      | Lorem ipsum dolor sit elit. Placeat, sapiente sit dolorem accusamus recusandae eos est neque. Explicabo amet reiciendis dolor quia.
    article.itemHover
      p.lText
        | Regular Game
        br
        | Premium Game
        br
        |  + Source Code
      p.rText
        em
          | 300$
          br
          | 500$
          br
          | +200$
  article.licensepage-pricingcard.flex-vertcenter.itemHover
    h3
      em
        | Yearly Licences
    hr
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptate totam autem harum corporis quasi placeat?
    article.itemHover
      p.lText
        | Regular Game
        br
        | Premium Game
        br
        |  + Source Code
      p.rText
        em
          | 200$
          br
          | 300$
          br
          | +200$
  article.licensepage-pricingcard.flex-vertcenter.itemHover
    h3
      em
        | Discounts
    hr
    p
      | Lorem ipsum dolor sit amet consectetur, elit. Similique hic blanditiis magni natus, eveniet, incidunt animi at sit mollitia culpa libero?
    article.itemHover
      p.lText
        | +2 Games
        br
        | +3 Games
        br
        | +5 Games
      p.rText
        em
          | 25% Off
          br
          | 30% Off
          br
          | 40% Off
#contact-header.boxborder-header
  h2
    | Let's Talk!
section.contactgrid-wrapper
  p#contactgrid-text
    br
    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, iste? Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, in! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit iusto soluta officia, id blanditiis rem fugit itaque nulla aliquid nihil?
  article#contactgrid-form
    form.flex-vertcenter[action=""]
      input[type="text" placeholder="Your Name"]
      input[type="email" placeholder="Email"]
      textarea#message[name="message" cols="30" rows="10" placeholder="Message"]
      input.button[type="button" value="SEND"]
  section#contactgrid-contacts
    article#contactgrid-contacttext
      .flex-center
        img.svg-gray.contactgrid-icons[src="img/svg/message.svg" alt="email icon"]
        p
          | s@somin.se
      .flex-center
        img.svg-gray.contactgrid-icons[src="img/svg/call.svg" alt="phone icon"]
        p
          | 0706106337
      .flex-center
        img.svg-gray.contactgrid-icons[src="img/svg/location.svg" alt="location icon"]
        p
          | Origovägen
    hr
    article#contactgrid-socialicons.flex-center
      .contactgrid-circle
        img.svg-gray.contactgrid-icons[src="img/svg/instagram.svg" alt="instagram logo"]
      .contactgrid-circle
        img.svg-gray.contactgrid-icons[src="img/svg/twitter.svg" alt="twitter logo"]
      .contactgrid-circle
        img.svg-gray.contactgrid-icons[src="img/svg/tiktok.svg" alt="Tiktok logo"]
      .contactgrid-circle
        img.svg-gray.contactgrid-icons[src="img/svg/itch-dot-io.svg" alt="Itch.io logo"]
    hr
/*div[style="width: 100%"]
  iframe[width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=origov%C3%A4gen%204+(SominStudios)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"]
    a[href="https://www.gps.ie/marine-gps/"]
      | shipping gps*/